.--bird-form-container
  background-color: $color-highlight
  top: 0
  position: absolute
  height: 100vh
  min-width: 100vw

.--bird-form-text-container
  display: flex
  flex-direction: column
  margin: 1rem 3rem
  color: $text-color

.--bird-form-text
  font-size: $--bird-form-font-size
  line-height: 1.4rem
  // background-color: lightcoral
  margin: 0.4rem 0

.--bird-form-name
  font-size: $--bird-form-name-font-size
  // font-family: $--bird-form-name-font-family
  font-weight: normal
  color: $text-color
  text-align: center
  position: fixed
  min-width: 100vw
  bottom: 0px
  margin: 0 auto 1rem
  z-index: 0
