.--bird-form-container
  margin: 1rem 6rem

.--bird-form-text-container
  display: flex
  flex-direction: column

.--bird-form-text
  font-size: $--bird-form-font-size

.--bird-form-name
  font-size: $--bird-form-name-font-size
  font-family: $--bird-form-name-font-family
  font-weight: bold
  color: $color-highlight
  text-align: center
