.--select-bird-container
  display: inline-block

.--select-bird-select-button
  min-width: 2rem
  background-color: white
  border: none
  border-bottom: $--select-bird-line-weight solid $color-highlight
  font-size: $--select-bird-font-size
  font-family: $font-family
  letter-spacing: 0.1rem
  font-weight: bold
  outline: none
  cursor: pointer
  height: 1rem
  padding: 0 0.5rem 1.2rem
  margin: 0

.--select-bird-select-button::after
  outline: none

.--select-bird-select-list
  padding: 0
  margin: 0
  position: absolute

.--select-bird-select-item
  background-color: $color-highlight
  padding: 0.2rem 0.4rem

.--select-bird-select-item-button
  background-color: $color-highlight
  color: white
  border: none
  outline: none
  margin: 0 0.2rem
  font-size: $--select-bird-font-size
  font-family: $font-family
  transition: color 0.1s

.--select-bird-select-item-button:hover
  color: black

.--select-bird-select-item-button::after
  outline: none
