.__header-homepage
  padding: 0.8rem 1rem
  display: flex

.__header-homepage-link
  font-size: $__header-font-size

.__header-homepage-link:hover
    color: $color-highlight
    font-weight: bold

.line
  flex-grow: 1
  transform: translate(0, -$__header-line-height)
  border-bottom: $__header-line-weight solid white
  // border-bottom: $__header-line-weight solid $color-highlight
  margin: 0 1rem
