// Body
// $body-bg: #f5f8fa;

// Typography
@import url('https://fonts.googleapis.com/css?family=Karla');
// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// $font-family-sans-serif: "Raleway", sans-serif;
// $font-size-base: 14px;
// $line-height-base: 1.6;
// $text-color: #636b6f;
$font-family: 'Karla', sans-serif;
$font-size: 2vw;

// Colors
$color-highlight: #64FFCB;

// __header-homepage
$__header-font-size: 1.3vw;
$__header-line-height: $__header-font-size / 2.4;
$__header-line-weight: 0.06rem;
